
/* Category page sidebar */
.woocommerce-page {
    &.archive {
        .sidebar-content {
            border: 1px solid var(--porto-gray-5);
            .widget-title { padding: 0; background: none; border: none; }
            .porto-separator { display: none; }
            aside.widget { border-bottom: 1px solid var(--porto-gray-5); margin-bottom: 0; margin-top: 0; padding: 20px; }
            aside.widget:last-child { border-bottom: none; }
            aside.widget .widget { margin-bottom: 0; }
            .widget,
            .wp-block-group__inner-container {
                > *:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
        @media #{$screen-normal} {
            .mobile-sidebar aside.widget {
                padding-left: 0; padding-right: 0;
                &:first-child { padding-top: 0; }
            }
        }
    }
    .sidebar-content .widget-title {
        font-weight: $font-weight-semibold;
        font-size: 15px;
    }
}

.sidebar .product-categories li > a { font-size: 14px; font-weight: 500; }
.widget_product_categories,
.wc-block-product-categories {
    ul li .toggle { font-size: 11px; color: #222529 !important; font-family: Porto; }
    ul li .toggle:before { content: "\e81c"; }
    ul li.current > .toggle:before,
    ul li.open > .toggle:before { content: "\e81b"; }
    ul li.closed > .toggle:before { content: "\e81c"; }
} 

/* WooCommerce Default Gutenberg Block Style with Sidebar */
.woocommerce-page {
    .widget_block .wp-block-heading {
        font-size: 15px;
        font-weight: $font-weight-semibold;
        text-transform: uppercase;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    .wc-block-active-filters,
    .wc-block-components-price-slider,
    .wc-block-components-product-sort-select,
    .wp-block-woocommerce-rating-filter,
    .wc-block-stock-filter {
        margin-bottom: 0;
    }
    .wc-block-active-filters .wc-block-active-filters__list-item-type {
        font-weight: 400;
    }
}
.wp-block-woocommerce-price-filter {
    color: var(--porto-primary-color);
}
.wp-block-woocommerce-customer-account .label {
    color: #777;
    font-weight: 400;
    font-size: inherit;
}
.widget_block {
    // All reviews woo gutenberg widget
    .wc-block-review-list {
        border-bottom-width: 0;
    }
    .wc-block-review-list>li {
        padding-top: 20px;
        padding-bottom: 20px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .wc-block-components-review-list-item__info {
        margin-bottom: 15px;
    }
    .wc-block-review-list-item__image img {
        border-radius: 50%;
    }
    .wc-block-components-review-list-item__author, .wc-block-components-review-list-item__product {
        line-height: 1.4;
    }
    .wc-block-review-list-item__product>a {
        color: #222529;
        &:hover {
            color: #0d0d0d;
        }
    }

    .wc-block-product-categories-list {
        border-bottom-width: 0;
    }
    .wc-block-product-categories-list>li {
        border-top-width: 0;
    }
}
